# Exclude everything by default
*

# Include the .npmignore file itself
!.npmignore

# Explicitly exclude specific files in dist/
dist/server.js
dist/server.d.ts
dist/server.d.ts.map
dist/server.js.map
dist/middleware/

# Include node_modules from specific packages in the dist folder
!/dist/node_modules/@prisma/client/
!/dist/node_modules/typegraphql-prisma/
!/dist/node_modules/typegraphql/
!/dist/node_modules/type-graphql/
!/dist/node_modules/graphql/

# Include other files at the root
!/README.md
!/package.json

# Exclude temporary comparison files
npm_package_files.txt
diff.txt
